:root {
    --blanco: rgb(235, 235, 235);
    --gris: #3c3b3b;
    --fondo: rgba(0, 0, 0, 0.45);
    --rojo: #99181F;

}

body {
    font-family: 'Poppins', sans-serif;
    background: url("../img/fondo-madera.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#contenedor-reserva {
    background: var(--fondo);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    width: 90%;
    max-width: 400px;
    padding: 35px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.3);
}

header { 
    text-align: center; 
    margin-bottom: 25px; 
}

#qr-resultado { width: 100%; 
    max-width: 250px; 
    display: block; 
    margin: 0 auto 20px; 
    border-radius: 15px; 
}

#btn-atras {
    width: 100%; 
    padding: 16px; 
    background: var(); 
    color: var(--rojo);
    border: none; 
    border-radius: 50px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s;
    flex: 1;
}

#btn-descargar {
    width: 100%; 
    padding: 16px; 
    background: var(--rojo); 
    color: var(--blanco);
    border: none; 
    margin-bottom: 10px;
    border-radius: 50px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s;
}

.btn-grande2 {
    width: 100%; 
    padding: 16px; 
    background: var(--rojo); 
    color: var(--blanco);
    border: none; 
    border-radius: 50px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s;
}

.btn-grande {
    width: 100%; 
    padding: 16px; 
    background: var(--blanco); 
    color: var(--rojo);
    border: none; 
    border-radius: 50px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s;
}

h1 { 
    color: var(--blanco); 
    margin: 0; 
    font-size: 1.6rem; }

.grupo-entrada { 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column;}

.grupo-entrada label { 
    font-weight: 600; 
    color: var(--blanco); 
    margin-bottom: 8px; 
    font-size: 0.85rem; }

.grupo-entrada input { 
    padding: 14px; 
    color: var(--blanco); 
    border: 1px solid #ddd; 
    border-radius: 15px; 
    outline: none; 
    background: var(--gris);
}

.grupo-entrada select {
    padding: 14px; 
    color: var(--blanco); 
    border: 1px solid #ddd; 
    border-radius: 15px; 
    outline: none; 
    background: var(--gris);
}

button {
    width: 100%; 
    padding: 16px; 
    background: var(); 
    color: var(--rojo);
    border: none; 
    border-radius: 50px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s;
}

.resumen-caja { 
    background: rgba(255,255,255,0.6); 
    padding: 20px; 
    border-radius: 20px; 
    margin-bottom: 20px; 
}
