:root{
    --blanco: rgb(235, 235, 235);
    --rojo: #99181F;
    --gris: rgba(0, 0, 0, 0.45);
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: url('../img/fondo-madera.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {
    background: var(--gris);
    border: none;
    border-radius: 20px;
    padding: 2rem;
    width: 80%;
    max-height: 100vh;
    max-width: 380px;
    text-align: center;
    color: var(--blanco);

}
    
figure img{
    width: 40%;
}

#cont_logo h2{
    margin: 0.5rem;
}

#cont_logo h3{
    margin-bottom: 0.6rem;
}


#svg_icon{
    position: relative;
    top: 3.5rem;
    left: 0.4rem;
    z-index: 1;
}

#svg_icon img{
    display: flex;
    width: 10%;
}

.cont_campos{
    position: relative;
    margin-bottom: 1.2rem;
    text-align: left;    
}

.cont_campos label{
    margin: 0px 15px;
}

.cont_campos svg{
    border-radius:5px 0 0 5px ;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    padding: 7px;
    position: absolute;
    top: 66%;
    transform: translateY(-50%);
    z-index: 6;
    }

.cont_campos input{
    width: 100%;
    border-radius: 20px;
    padding: 12px 40px;
    background: #3c3b3b;
    color: var(--blanco);
}

.cont_campos input:focus{
    transition: 1.5s;
    background: #4e4d4d;
}

.cont_campos input::placeholder{
    color: var(--blanco);
}

button{
    background: var(--blanco);
    color: var(--rojo);
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    width: 80%;
    padding: 16px 40px;

}

@media screen and (max-width: 600px) {
  .contenedor {
    width: 100%;
    padding: 10px;
  }
}

