/* Importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reinicio básico */
* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}
a{
        text-decoration: none;
        
    }

body {
    background: url('../images/fondo.jpg');
    background-size: cover;
    
}
.barra-superior {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    /*backdrop-filter: blur(10px);*/
    z-index: 50;
}
#menu{ 
    text-align: center;
    color: var(--blanco);
    font-size: 40px;
    margin-top: 80px;
   
}
.menu-desplegable {
  display: none;
}
.menu-btn.activate{
    opacity: 0;
}
.menu-desplegable.activo {
    display: flex;
    font-size: 24px;
    backdrop-filter: blur(10px);
    position: fixed;
    flex-direction: column;
    border-radius: 20px;
    top:50px;
    left: 70%;
    transform: translateX(-50%);
    justify-content: center;
    z-index: 60;
    gap: 40px;;
    background-color: rgba(0, 0, 0, 0.6);
    height: 30vh;
    width: 30vh;
    text-align: center;
}
h3{ 
    text-align: center;
    color: var(--blanco);
    font-size: 40px;
   
} 
button {
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    background: none;
    cursor: pointer;
}

.menu-contenedor {
    position: relative;
    width: 100%;
    max-width: 420px;
    backdrop-filter: blur(11px);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 80, 85, 0.6);
    border-radius: 20px;
    padding-bottom: 130px;

}

/* Barra superior */
.cont-superior{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(2px);
    z-index:30;

}

/* Botones superiores */
.atras-btn, .menu-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    padding: 5px;
}

/* Platos*/

.plato-cont {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
    padding: 10px;
}

.plato-cont:hover {
    transform: scale(1.03);
}

/* Imagen pequeña a la izquierda */
.plato-cont img {
    display: flex;
    align-items: left;
    justify-content: center;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

/* Contenedor del texto */
.info {
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

/* Título y descripción */
.info h3 {
    font-size: 26px;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
}

.info p {
    font-size: 16px;
    color: #f1f1f1;
    margin: 8px 0 15px 0;
    line-height: 1.2;
}

/* Botón Seleccionar */
.info .seleccionar-btn {
    background-color: #99181F;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;}

.info .seleccionar-btn:hover {
    background-color: #b9232c;
}

/* Botón Reservar */
.reservar-btn {
    width: 48%;
    position: fixed;
    bottom: 0;
    left:1%;
    padding: 10px;
    font-size: 30px;
    border: none;
    background-color: #99181F;
    color: white;
    margin-bottom: 70px;
    cursor: pointer;
    border-radius: 30px;
} 
.domicilio-btn {
    position: fixed;
    width: 49%;
    bottom: 0;
    left: 50%;
    padding: 10px;
    font-size: 30px;
    border: none;
    background-color: #ffffff;
    color: #99181F;
    margin-bottom: 70px;
    cursor: pointer;
    border-radius: 30px;
}

/* Menú Inferior */
.cont-inferior {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 11px;
    border:0;
    background: rgb(255, 255, 255);
    
}

.nav-btn {
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}
