/* Importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reinicio básico */
* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    background: url('/app/static/img/fondo-madera.jpg');
    background-size: cover;
    
}
#menu{ 
    text-align: center;
    color: var(--blanco);
    font-size: 40px;
    margin-top: 80px;
   
}
h3{ 
    text-align: center;
    color: var(--blanco);
    font-size: 40px;
   
} 
button {
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    background: none;
    cursor: pointer;
}

.menu-cont {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    box-sizing: border-box;
    /*transform: translateX(45%);*/
    /*margin: 60px 0 60px 0;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 80, 85, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

/* Barra superior */
.cont-superior{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

/* Botones superiores */
.atras-btn, .menu-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    padding: 5px;
}

/* Platos*/

.plato-cont {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
    padding: 10px;
}

.plato-cont:hover {
    transform: scale(1.03);
}

/* Imagen pequeña a la izquierda */
.plato-cont img {
    display: flex;
    align-items: left;
    justify-content: center;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

/* Contenedor del texto */
.info {
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

/* Título y descripción */
.info h3 {
    font-size: 26px;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
}

.info p {
    font-size: 16px;
    color: #f1f1f1;
    margin: 8px 0 15px 0;
    line-height: 1.2;
}

/* Botón Seleccionar */
.info .seleccionar-btn {
    background-color: #99181F;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    transition: background 0.3s;
}

.info .seleccionar-btn:hover {
    background-color: #b9232c;
}

/* Botón Reservar */
.reservar-btn {
    width: 60%;
    display: flex;
    position: fixed;
    bottom: 0;
    transform: translateX(35%);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;    
    padding: 10px;
    font-size: 44px;
    border: none;
    background-color: #99181F;
    color: white;
    margin-bottom: 70px;
    cursor: pointer;
    border-radius: 30px;
}

/* Menú Inferior */
.cont-inferior {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 11px;
    border:0;
    background: rgb(255, 255, 255);
    
}

.nav-btn {
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}
