@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url('../images/fondo.jpg') center/cover no-repeat;
    padding-top: 70px; /* espacio para barra superior */
    padding-bottom: 90px; /* espacio para la barra inferior */
}
.cont-superior{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h3{
    text-align: center;
    color:#FFFFFF;
    font-size:30px;
}
.cont-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    padding: 10px;
    background-color: rgba(127, 126, 129, 0.6);
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
}

.cont-secundario{
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}
.division{
    width: auto;
    height:50px;
}
::placeholder{
    color: #fff;
    font-size: 18px;
}
::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
input{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border:1px solid #fff;
    font-size: 18px;
    background-color: #d9d9d936;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
}
.platos-btn{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border:1px solid #fff;
    font-size: 18px;
    background-color: #d9d9d936;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;

}
select{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border:1px solid #fff;
    font-size: 18px;
    background-color: #d9d9d936;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
}
option{
    outline: none;
    border:none;
    background-color: rgba(127, 126, 129, 0.6);
    color: #FFFFFF;
}
.division1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    width: 48vh;
    height: auto;
}
.division2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 48vh;
    height: auto;
}
.guardar-btn{
    width:80%;
    max-width: 400px;
    padding: 10px;
    margin-top: 20px;
    background-color: #99181F;
    border-radius: 20px;
    border:none;
    font-size: 22px;
    height: auto;
}
