/* Importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --color-fondo: rgba(82, 80, 85, 0.6);
    --color-boton: #99181F;
    --color-texto: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

/* BODY */
html, body {
    background: url('../img/fondo-madera.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; 
    overflow-y: auto;
    overflow-x: hidden;
}
::placeholder,:-moz-placeholder,::-webkit-input-placeholder{
    color: inherit;

}


/* TÍTULO */
#tlo {
    text-align: center;
    font-size: 40px;
    margin-top: 90px;
}

/* HEADER */
.barra-superior {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
    backdrop-filter: blur(10px);
    z-index: 50;
}

/* BOTÓN MENÚ */
#menu_btn {
    background: none;
    border: none;
    cursor: pointer;
}

.activo {
    display: flex;
}
.oculto{
    display: none;
}

#menu_desplegable{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border-radius: 20px;
    font-size: 24px;
    padding: 20px;
    top: 35px;
    text-align: center;
    z-index: 60;
    flex-direction: column;
    transform: translateZ(0);

}
#menu_desplegable a{
    text-decoration: none;
    color: white;
    padding: 10px 0;

}
#menu_desplegable a:not(:last-child) {
    margin-bottom: 30px;
}

/* CONTENEDOR DEL MENÚ */
.menu-contenedor {
    position: relative;        
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    backdrop-filter: blur(11px);
    background-color: rgba(82, 80, 85, 0.6);
    border-radius: 20px;
}

/* Categorías */
.categoria {
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
}

    a{
        text-decoration: none;   
    }

.categoria img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.categoria:hover {
    transform: scale(1.05);
}

.categoria a {
    font-size: 30px;
}
/* Botón Reservar */
.reservar-btn {
    position: fixed;
    width: 48%;
    bottom: 0;
    left: 1%;
    padding: 10px;
    font-size: 30px;
    border: none;
    background-color: #99181F;
    margin-bottom: 60px;
    cursor: pointer;
    border-radius: 30px;
}
.domicilio-btn {
    position: fixed;
    width: 49%;
    bottom: 0;
    left: 50%;
    padding: 10px;
    font-size: 30px;
    border: none;
    color: #99181F;
    margin-bottom: 60px;
    cursor: pointer;
    border-radius: 30px;
}

/* Menú Inferior */
.menu_inferior {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    background: rgb(255, 255, 255);
    
}

.nav-btn {
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}

/*<------- MEDIA QUERY -------->*/
@media (min-width: 1000px) {
    .menu-contenedor {
        padding: 80px;
        margin: 50px;
        background-color:rgba(46, 43, 48, 0.459);


    } 
    .categoria img {
        height: 400px;
        width: 700px;
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast;
    }
    .categoria{
        margin:15px;

    }
    .categoria a {
        font-size: 50px;
    }   
    #tlo {
        font-size: 70px;
    }

    .domicilio-btn {
        font-size: 60px;
        width: 45%;
        left: 52%;

    }
    .reservar-btn {
        font-size: 60px;
        width: 45%;
        left: 3%;

    }
    
}