/* Fondo general */
body {
  font-family: 'Arial', sans-serif;
  background: url('fondo.jpg') center/cover no-repeat;
  color: white;
  margin: 0;
  height: 100vh;
}

/* CONTENEDOR PRINCIPAL */
.cont_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* backdrop-filter: blur(4px); */
}

/* ENCABEZADO */
.cont_header {
  text-align: center;
  /*2*/
  position: relative; 

}

.btn_back {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.cont_nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: .5rem;
}

.icon_step {
  font-size: 1.5rem;
  opacity: 0.6;
}

.icon_step.active {
  border: 2px solid red;
  border-radius: 50%;
  padding: .2rem;
  opacity: 1;
}

/* SECCIONES */
.cont_section {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  margin-top: 1rem;
}

.cont_section.active {
  display: block;
}

/* FORMULARIOS */
.cont_form input,
.cont_form select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  gap: .5rem;
}

/* BOTONES */
.btn_continuar,
.btn_pagar {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 25px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.btn_pagar {
  font-size: 1.2rem;
}

/* TEXTOS Y DETALLES */
.cont_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_pedido {
  color: #ff4d4d;
  font-size: 0.9rem;
  text-decoration: none;
}

.cont_resumen p,
.cont_pedido p {
  margin: 0.5rem 0;
}

.total {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #ffcc00;
}
