<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/sabores-unidos.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_reservas.css') }}">
    <script type="module" src="{{ url_for('static', filename='javascript/main.js') }}"></script>

</head>
<body>
    <main id="contenedor">
        <div id="tpl-domicilio">
            <header><h1>ENVÍO</h1></header>
            <form id="form-domicilio">
                <div class="grupo-entrada">
                    <label>Dirección completa</label>
                    <input type="text" name="direccion" placeholder="Calle 10 # 12-34" required>
                </div>
                <div class="grupo-entrada">
                    <label>Barrio / Referencia</label>
                    <input type="text" name="referencia" placeholder="Edificio Torres del Parque, Apto 502" required>
                </div>
                <div class="grupo-entrada">
                    <label>Método de pago</label>
                    <select name="metodo_pago">
                        <option value="efectivo">Efectivo (Contra entrega)</option>
                        <option value="transferencia">Transferencia</option>
                    </select>
                </div>
                <div class="contenedor-botones">
                    <button type="button" class="btn-atras" onclick="window.history.back()">VOLVER</button>
                    <button type="submit" class="btn-grande2" id="btn-submit-dom">CONFIRMAR PEDIDO</button>
                </div>
            </form>
        </div>
    </main>

</body>
</html>