<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creado con exito</title>
    <link rel="stylesheet" href="../../static/css/estilos_reservas.css">
</head>
<body>
    <main id="contenedor-reserva">
        <div id="tpl-exito">
            <header><h1>¡LISTO!</h1></header>
            <div style="text-align:center; color:white; padding:10px;">
                <img id="qr-img" src="" style="width:200px; border:5px solid white; border-radius:10px;">
                <p id="mensaje-exito" style="margin-top:10px;"></p>
                <button class="btn-grande2" onclick="irAMenu()">FINALIZAR</button>
            </div>
        </div>
    </main>

        <script src="../../static/javascript/reservas.js"></script>
</body>
</html>