<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Reserva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reserva.css') }}">
</head>

<body>

    <main id="pantalla-dinamica" class="cont_main">
        <!-- El contenido dinámico de logica_reserva.js se insertará aquí -->
    </main>

    <script src="{{ url_for('static', filename='javascript/logica_reserva.js') }}"></script>
</body>

</html>