<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva - Tres Pasos</title>
    <link rel="stylesheet" href="../../static/css/estilos_reservas.css">

</head>
<body>
    <main id="contenedor-reserva">
        <div id="pantalla-dinamica">
            </div>
    </main>

    <template id="tpl-inicio">
        <header><h1>TRES PASOS</h1></header>
        <div class="seleccion-servicio">
            <button class="btn-grande2" style="margin-bottom: 15px;" onclick="seleccionarServicio('reserva')">RESERVAR MESA</button>
            <button class="btn-grande" onclick="seleccionarServicio('domicilio')">PEDIR DOMICILIO</button>
        </div>
    </template>

    <template id="tpl-paso1">
        <header><h1>TUS DATOS</h1></header>
        <form id="form-paso1">
            <div class="grupo-entrada">
                <label>Nombre</label>
                <input type="text" name="nom" maxlength="60" minlength="2" placeholder="Juan Posada" pattern="[A-Za-z0-9ÁÉÍÓÚáéíóúÑñ\s]{2, 60}" tabindex="1" required>
            </div>
            <div class="grupo-entrada">
                <label>Cédula</label>
                <input type="number" name="doc" maxlength="10" minlength="8" placeholder="1112000000" pattern="[0-9]{8, 10}" tabindex="2" required>
            </div>
            <div class="grupo-entrada">
                <label>Correo</label>
                <input type="email" name="correo" inputmode="email" maxlength="60" minlength="8" placeholder="ejemplo@gmail.com" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" tabindex="3" required>
            </div>
            <div class="grupo-entrada">
                <label>Teléfono</label>
                <input type="tel" name="tel" inputmode="tel" maxlength="10" minlength="10" placeholder="3154444444" pattern="[0-9]{10, 10}" tabindex="4" required>
            </div>
            
            <div class="contenedor-botones">
                <button type="button" id="btn-atras" onclick="mostrarInicio()">VOLVER</button>
                <button type="submit" class="btn-grande2" tabindex="5">CONTINUAR</button>
            </div>
        </form>
    </template>

    <template id="tpl-reserva">
        <header><h1>RESERVA</h1></header>
        <form id="form-final">
            <div class="grupo-entrada"><label>Fecha</label><input type="date" name="fec" id="v_fec" required></div>
            <div class="grupo-entrada"><label>Bloque Horario</label><select name="hor" id="v_hor"></select></div>
            <div class="grupo-entrada"><label>Temática</label><select name="tematica" id="v_tematica"></select></div>
            <div class="grupo-entrada"><label>Personas</label><input type="number" name="personas" value="1" min="1"></div>
            <div class="grupo-entrada"><label>Piso</label>
                <select name="piso">
                    <option value="1">Piso 1</option>
                    <option value="2">Piso 2</option>
                </select>
            </div>
            <div class="contenedor-botones">
                <button type="button" id="btn-atras" onclick="mostrarPaso1()">VOLVER</button>
                <button type="submit" class="btn-grande2" id="btn-submit">RESERVAR</button>
            </div>
        </form>
    </template>

    <template id="tpl-domicilio">
        <header><h1>DOMICILIO</h1></header>
        <form id="form-final">
            <div class="grupo-entrada"><label>Dirección</label><input type="text" name="direccion" required></div>
            <div class="contenedor-botones">
                <button type="button" id="btn-atras" onclick="mostrarPaso1()">VOLVER</button>
                <button type="submit" class="btn-grande2" id="btn-submit">PEDIR</button>
            </div>
        </form>
    </template>

    <template id="tpl-exito">
        <header><h1>¡LISTO!</h1></header>
        <div style="text-align:center; color:white; padding:10px;">
            <img id="qr-img" src="" style="width:200px; border:5px solid white; border-radius:10px;">
            <p id="mensaje-exito" style="margin-top:10px;"></p>
            <button class="btn-grande2" onclick="location.reload()">FINALIZAR</button>
        </div>
    </template>

    <template id="tpl-detalles">
        <header><h1>ELIGE TUS PLATOS</h1></header>
        <div id="contenedor-platos" class="grid-productos">
            </div>
        
        <div class="contenedor-botones">
            <button type="button" id="btn-atras" onclick="mostrarPaso1()">VOLVER</button>
            <button type="button" class="btn-grande2" onclick="mostrarPaso2()">CONTINUAR</button>
        </div>
    </template>
     <script src="../../static/javascript/logica_reserva.js"></script>


</body>
</html>