<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva - Tres Pasos</title>
    <link rel="stylesheet" href="../../../static/css/estilos_reservas.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <main id="contenedor-reserva">
        <div id="pantalla-dinamica">
            <header><h1>¿QUÉ DESEAS HACER?</h1></header>
            <div class="seleccion-servicio">
                <button class="btn-grande" onclick="iniciarFlujo('reserva')">RESERVAR MESA</button>
                <button class="btn-grande btn-domicilio" onclick="iniciarFlujo('domicilio')">PEDIR DOMICILIO</button>
            </div>
        </div>
    </main>
    <script src="../../../static/javascripts/v2/logica_reservas12.js"></script>

</body>
</html>