<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de tu Pedido</title>
    <script src="../static/js/menu.js"></script>
    <script src="../static/js/resumen.js"></script>

    <link rel="stylesheet" href="../static/css/resumen_reserva  .css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/resumen_reserva.css') }}"> -->
</head>
<body>
    <header class="barra-superior">
        <button id="menu_btn" type="button">
            <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7H21.25M1 1H21.25M1 13H21.25" stroke="#F5F5F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
            <nav id="menu_desplegable" class="oculto">
                <a href="/templates/perfil.html">Perfil</a>
                <a href="/templates/reservas.html">Mis reservas</a>
                <a href="/templates/home.html">Cerrar sesión</a>
            </nav>    

    </header>

    <div class="contenedor-resumen">
        <h1 style="color: #99181F;">RESUMEN DE TU PEDIDO</h1>
        <p>Verifica que todo esté correcto antes de reservar.</p>

        <div id="detalle-pedido" class="info-pedido">
            <p>Cargando pedido...</p>
        </div>

        <a href="{{ url_for('hacer_reserva') }}" class="btn-reservar">HACER RESERVA</a>
        
        <a href="javascript:history.back()" class="btn-volver">Volver y modificar</a>
    </div>

    
</body>
</html>