<div id="modal-plato" class="modal-overlay">
    <div class="modal-content">
        <h2 class="modal-title">AÑADIR PLATO</h2>
        
        <form id="form-nuevo-plato">
            <input type="text" placeholder="Nombre del Plato" class="modal-input">
            <textarea placeholder="Descripción" class="modal-input"></textarea>
            <input type="number" placeholder="Precio" class="modal-input">

            <div class="upload-zone">
                <p>Añadir Imagen</p>
                <div class="camara-icon">
                    <svg width="60" height="50" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="2">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/>
                    </svg>
                </div>
                <input type="file" id="input-foto" hidden>
                <button type="button" class="btn-buscar" onclick="document.getElementById('input-foto').click()">Buscar Imagen</button>
            </div>

            <div class="modal-actions">
                <button type="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
                <button type="submit" class="btn-guardar">Guardar Plato</button>
            </div>
        </form>
    </div>
</div>
