:root {
    --rojo: #99181F;
    --blanco: #fff;
}

*{
    box-sizing: border-box;
    transition: all 0.7s;
    font-family:"Bebas Neue", sans-serif;
}
::placeholder, :-moz-placeholder, ::-webkit-input-placeholder{
    color: inherit;  
}
body{
    margin:0;
}
body, html{
    margin: 0;
    padding: 0;
}

main#fondo{
    background: url('/static/imagenes/fondo.jpg');
    min-height: 100vh;
    background-size: cover;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.top-bar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.back-btn{
    position: absolute;
    left: 6px;
}
.menu-btn{
    position: absolute;
    right: 6px;
    
}
section#contenedor-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin:20px;
}
h3{
    text-align: center;
    color: var(--blanco);
    font-size: 40px;
    margin-top: 20px;
}   