<div id="sec-reservas" class="seccion">
    <div class="seccion-header">
        <h1>Gestión de Reservas</h1>
    </div>
    <div class="tabla-wrapper">
        <table class="tabla-admin">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Personas</th>
                    <th>Piso</th>
                    <th>Temática</th>
                    <th>Pago</th>
                    <th>Comprobante</th>
                    <th>Estado</th>
                    <th>Cambiar estado</th>
                </tr>
            </thead>
            <tbody id="tbody-reservas">
                <tr><td colspan="10" class="cargando">Cargando...</td></tr>
            </tbody>
        </table>
    </div>
</div>
